<form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
  <label>
    <input type='text'
      formControlName="title"
      class='border w-full py-2 px-4 mb-2'
      appFocus
      required>
  </label>
  <label>
    <input type='text'
      formControlName="description"
      class='border w-full py-2 px-4 mb-2'
      required>
  </label>
  <label>
  <app-image-input (imageSelected)="onImageSelected($event)"></app-image-input>
  </label>
  <button class='py-2 px-4 bg-blue-400 text-white mt-2' type="submit" [disabled]="recordForm.invalid">Добавить</button>
</form>
